body {
	background: url("../img/icon.png") no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: 'Raleway', sans-serif;
}
h1 {
	text-align: center;
	font-family: Trajan Pro, sans-serif;
	font-size: 64px;
	padding-top: 80px;
	color: #D4AF37;
}
input { 
border-radius: 5px;
width: 150px;
height: 20px;
outline: none;
border: 2px ridge brown;
 }
.message {
	height: 150px;
 	width: 300px;
 }
 
 form {
 	margin-top: 10px;
 	margin-left: 300px;
 	float: left;
 	text-align: center;
 	background: rgba(0,0,0,0.5);
 	border-radius: 15px;
 	width: 400px;
 }

 input[type=submit] {
	background: rgba(0,0,0,0.7);
 	margin-left: 20px;
 	height: 40px;
 	width: 100px;
 	text-align: center;
 	border-radius: 15px;
 	font-size: 16px;
 	color: white;
 	font-family: 'Trajan Pro';
 	margin-top: 10px;
 	border: 1px ridge brown;
 	 }

 form p {
	font-size: 20px;
	padding: 0px 20px;
}
.info {
	float: right;
	margin-right: 300px;
	margin-top: 10px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	font-family: courier new;
	width: 300px;
}
.info p {
	font-size: 20px;
}
.info h3 {
	padding: 0 30px 10px 30px;
	text-align: center;
	border-radius: 10px;
	font-family: Trajan Pro;
	text-decoration: underline;
	font-size: 20px;
}
strong {
	font-family: Trajan pro;
}
.yanone {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}
 a {
	text-decoration: none;
	color: white;
}
a:hover { 
    color: gold;
}

.social {
position: fixed;
top: 110px;
right: 60px;
background: rgba(0,0,0,0.5);
border-radius: 15px;
padding: 5px;
border: 0.5px ridge grey;
}

.icon  {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
#youtube{
	width: 100px;

}
#insta {
		border-radius: 25px;
		width: 50px;
}
